appnope==0.1.2
backcall==0.2.0
bcrypt==3.1.4
blinker==1.4
cffi==1.15.0
Click==8.1.2
decorator==5.1.0
Flask==2.0.1
Flask-Bcrypt==0.7.1
Flask-DebugToolbar==0.11.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.15.1
ipython==7.31.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.3
MarkupSafe==2.0.1
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.22
psycopg2-binary==2.9.1
ptyprocess==0.7.0
pycparser==2.22
Pygments==2.11.2
simplegeneric==0.8.1
six==1.16.0
SQLAlchemy==1.4.25
traitlets==5.1.1
wcwidth==0.2.5
Werkzeug==2.0.1
WTForms==2.3.3
